name: ML devops
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Python app

    runs-on: "ubuntu-latest"
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1
        # role-to-assume: arn:aws:iam::664003623405:role/udacity-dvc-s3

    - name: Setup DVC
      uses: iterative/setup-dvc@v1
    - name: Check DVC configs
      run: |
        aws configure --profile udacity
        dvc remote modify storage profile default
        dvc remote list
        dvc config -l
    - name: Pull from s3 with dvc
      run: |
        dvc pull -v
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run tests
      run: |
        python -m pytest
